* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font: 11pt Avenir, 'Segoe UI', 'Lucida Grande', Lucida, Verdana, sans-serif;
}

body {
    font-family: Arial, sans-serif;
}

.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    background-color:#e7e7e7;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color:#e7e7e7;
}
.navbar .logo {
    font-size: 1.5rem;
}
.navbar .title {
    font-size: 20px;
    white-space: nowrap;
    font-weight: bold;
    font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
}
.navbar a {
    text-decoration: none;
    font-size: 1.5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
    background-color:#f2f2f2;
}

.grid-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img:hover
{
    opacity: .9;
}

@media only screen and (max-width: 950px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (prefers-color-scheme: dark) {
    * {
        color:#f1f1f1;
    }

    .navbar, .footer{
        background-color:#2e2e2e;
    }

    .grid-container{
        background-color:#494949;
    }
}