:root {
    color-scheme: light dark;
}

html {
    scroll-behavior: smooth;
  }

body{
    background-color:  rgb(250,249,246);
    margin: 0;
}

p{
    color: black;
    font-size: 10;
    font-family: Georgia, Helvetica, Arial, sans-serif;
}

.header
{
    height: 10%;
    width: 100%;
    position: sticky;
    top: 0;
    background: rgba(250,249,246,0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align:center;
    display:table;
    -webkit-box-shadow: 0 6px 4px -4px gray;
    -moz-box-shadow: 0 6px 4px -4px gray;
    box-shadow: 0 6px 4px -4px gray;
}

@media (prefers-color-scheme: dark) {
    body {
      color: #eee;
      background: #121212;
    }
}

@media (prefers-color-scheme: dark) {
    .header
    {
        position: sticky;
        top: 0;
        background: rgba(52,50,49,0.7);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}

h1{
    font-family: Georgia, Helvetica, Arial, sans-serif;
    color: #323232;
    margin:0;
    padding:0;
    vertical-align:middle;
    display:table-cell;
}

p{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    color: #343231;
}

img
{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    margin-top: 0;
}

  .grid-item {
    text-align: center;
    margin: 5px;
  }

  .sort{
    height: 50%;
    width: 50%;
    background-color: aqua;
  }